" Must be done first to tell other plugins that this is the leader key
let mapleader=" "

" https://github.com/JetBrains/ideavim/wiki/IdeaVim-Plugins
" set clipboard+=unnamed
" set clipboard+=ideaput
set multiple-cursors
set ideajoin
set idearefactormode=keep
set incsearch
set sneak
set showmode
set hlsearch
set surround
set visualbell
set commentary
set highlightedyank
set argtextobj
set matchit
set which-key

set timeoutlen=5000

nmap <s-m-c> <Action>(EditorCloneCaretAbove)
nmap C <Action>(EditorCloneCaretBelow)

nmap <m-k> <Action>(MoveLineUp)
nmap <m-j> <Action>(MoveLineDown)

nmap <s-u> <Action>($Redo)

vmap <leader>y "+y
nmap <leader>y <Action>(CopyReferencePopupGroup)

nmap <leader>p "+p
nmap <leader>P <Action>(PasteMultiple)

map <Leader><Leader> <Action>(Switcher)

nmap <C-n> <Action>(SelectNextOccurrence)
vmap <C-n> <Action>(SelectNextOccurrence)

"" vmap ms S
"" nmap ms ys
"" nmap md ds
"" nmap mr cs

nmap M <Action>(ToggleBookmark)

let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']
nmap \e :e ~/.ideavimrc<CR>
nmap \r <Action>(IdeaVim.ReloadVimRc.reload)
nmap <c-z> <Action>(ToggleDistractionFreeMode)
nmap <c-t> <Action>(ActivateTerminalToolWindow)
nmap <leader>t <Action>(ActivateTerminalToolWindow)
nmap <c-w>v <Action>(SplitVertically)
nmap <c-w>s <Action>(SplitHorizontally)
nmap <c-w>W <Action>(MoveEditorToOppositeTabGroup)
nmap <c-w>w <Action>(NextWindow)
nmap <leader>q <Action>(CloseContent)
nmap <leader>Q <Action>(CloseAllEditors)
nmap <leader>x <Action>(HideAllWindows)
nmap <leader>o <Action>(OptimizeImports)
nmap ]d <Action>(GotoNextError)
nmap [d <Action>(GotoPreviousError)
nmap ]g <Action>(VcsShowNextChangeMarker)
nmap [g <Action>(VcsShowPrevChangeMarker)
nmap ]m <Action>(MethodDown)
nmap [m <Action>(MethodUp)
nmap <leader>r <Action>(Refactorings.QuickListPopupAction)
nmap <leader>= <Action>(ReformatCode)
nmap <leader>j <Action>(RecentLocations)
nmap gr <Action>(FindUsages)
nmap gi <Action>(GotoImplementation)
nmap gd <Action>(GotoDeclaration)
nmap gT <Action>(GotoTest)
nmap gp <Action>(GotoSuperMethod)
nmap gy <Action>(GotoTypeDeclaration)
nmap gh 0
nmap gs ^
nmap H ^
nmap gl $
nmap L $
nmap ge G
xmap gh 0
xmap gs ^
xmap H ^
xmap gl $
xmap L $
xmap ge G
omap H ^
omap L $
nmap <leader>S <Action>(GotoSymbol)
nmap <leader>s <Action>(FileStructurePopup)
nmap <leader>F <Action>(FindInPath)
nmap <leader>f <Action>(GotoFile)
nmap <c-f> <Action>(ActivateFindToolWindow)
"" nmap <leader>e <Action>(SearchEverywhere)
nmap <leader>e <Action>(ActivateProjectToolWindow)
nmap <leader>a <Action>(ShowIntentionActions)
nmap <leader>z <Action>(ChangeIdeScale)
nmap <leader>g <Action>(Vcs.QuickListPopupAction)
nmap <leader>b <Action>(RecentChangedFiles)
nmap <leader>B <Action>(RecentFiles)
nmap <leader><cr> :nohlsearch<CR>
nmap <c-o> <Action>(Back)
nmap <c-i> <Action>(Forward)
nmap <s-k> <Action>(ExpressionTypeInfo)
nmap <c-k> <Action>(ShowErrorDescription)
nmap <leader>k <Action>(QuickJavaDoc)
nmap <leader>uh <Action>(ToggleInlayHintsGloballyAction)
nmap <leader>uw <Action>(EditorToggleShowWhitespaces)
""" Running and Debugging
nmap <leader>,r <Action>(ContextRun)
nmap <leader>,c <Action>(RunClass)
nmap <leader>,f <Action>(ChooseRunConfiguration)
nmap <leader>,t <Action>(ActivateRunToolWindow)
nmap <leader>,u <Action>(Rerun)
nmap <leader>,f <Action>(RerunFailedTests)
nmap <leader>,b <Action>(ToggleLineBreakpoint)
nmap <leader>,d <Action>(ContextDebug)
nmap <leader>,n <Action>(ActivateDebugToolWindow)
nmap <leader>,p <Action>(XDebugger.AttachToProcess
