" Must be done first to tell other plugins that this is the leader key
let mapleader=" "
let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']
" https://github.com/JetBrains/ideavim/wiki/IdeaVim-Plugins
" set clipboard+=unnamed
" set clipboard+=ideaput
"" set multiple-cursors
set ideajoin
set idearefactormode=keep
set incsearch
set sneak
set showmode
set hlsearch
set surround
set visualbell
set commentary
set highlightedyank
set argtextobj
set matchit
set which-key

set timeoutlen=5000

"" Mitt eget
nmap gs <Action>(FileStructurePopup)
nmap cd <Action>(RenameElement)
nmap <C-S-k> <Action>(ResizeToolWindowUp)
nmap <C-S-j> <Action>(ResizeToolWindowDown)
nmap <C-S-h> <Action>(ResizeToolWindowLeft)
nmap <C-S-l> <Action>(ResizeToolWindowRight)
nmap <C-S-Enter> <Action>(SplitVertically)
nmap <M-m> <Action>(MergeAllWindowsAction)
nmap <C-r> <Action>(RecentProjectListGroup)
nmap H ^
xmap H ^
nmap L $
xmap L $
omap H ^
omap L $

map <m-k> <Action>(MoveLineUp)
map <m-j> <Action>(MoveLineDown)

nmap <S-Esc> <Action>(HideAllWindows)
map <Leader><Leader> <Action>(Switcher)

nmap <Enter> <Action>(Floating.CodeToolbar.Extract)
vmap <Enter> <Action>(Floating.CodeToolbar.Extract)
nmap gh <Action>(ShowHoverInfo)
nmap gl <Action>(SelectNextOccurrence)
vmap gl <Action>(SelectNextOccurrence)
nmap ga <Action>(SelectAllOccurrences)
nmap g. <Action>(ShowIntentionActions)

nmap <C-h> <C-w>h
nmap <C-l> <C-w>l
nmap <C-j> <C-w>j
nmap <C-k> <C-w>k

nmap å <Action>(CloseEditor)
nmap <S-å> <Action>(CloseAllEditors)

nmap <C-w>q <Action>(CloseAllEditors)
nmap <C-S-w> <Action>(CloseAllEditors)

" Dette funker ikke
nmap <C-ø> <Action>(ActivateTerminalToolWindow)<CR>
nmap <C-æ> <Action>(ActivateProjectToolWindow)

map ø [
map Ø {
map æ ]
map Æ }

nmap <A-S-k> <Action>(EditorCloneCaretAbove)
nmap <A-S-j> <Action>(EditorCloneCaretBelow)

"" Helix
nmap <s-u> <Action>($Redo)
vmap <s-u> <Action>($Redo)
nmap <m-o> <Action>(EditorSelectWord)
vmap <m-o> <Action>(EditorSelectWord)
nmap <tab> <Action>(EditorSelectWord)
vmap <tab> <Action>(EditorSelectWord)
nmap <s-tab> <Action>(EditorUnSelectWord)
vmap <s-tab> <Action>(EditorUnSelectWord)
nmap <m-i> <Action>(EditorUnSelectWord)
vmap <m-i> <Action>(EditorUnSelectWord)

nmap <c-o> <Action>(Back)
nmap <c-i> <Action>(Forward)
nmap <M-h> <Action>(Back)
nmap <M-l> <Action>(Forward)
nmap <s-k> <Action>(ExpressionTypeInfo)

"" Space mode
nmap <leader>r <Action>(RenameElement)
nmap <leader>j <Action>(RecentLocations)
vmap <leader>y "+y
nmap <leader>y <Action>(CopyReferencePopupGroup)
nmap <leader>p "+p
nmap <leader>P <Action>(PasteMultiple)
nmap <Leader>c gcc
vmap <Leader>c gcc
nmap <Leader>d <Action>(ShowErrorDescription)
nmap <leader>S <Action>(GotoSymbol)
nmap <leader>s <Action>(FileStructurePopup)
nmap <leader>F <Action>(FindInPath)
nmap <leader>f <Action>(GotoFile)
nmap <leader>e <Action>(ActivateProjectToolWindow)
nmap <leader>a <Action>(ShowIntentionActions)
nmap <leader>g <Action>(EditorPopupMenu.GoTo)
nmap <leader>b <Action>(RecentChangedFiles)
nmap <leader>B <Action>(RecentFiles)
nmap <leader>d <Action>(ShowErrorDescription)
nmap <leader>D <Action>(ActivateProblemsViewToolWindow)
nmap <leader>k <Action>(QuickJavaDoc)
nmap <leader>? <Action>(GotoAction)
nmap <leader>/ <Action>(SearchEverywhere)
nmap <leader>v <Action>(ChangeView)
nmap <leader><cr> :nohlsearch<CR>

"" Goto mode
nmap gr <Action>(FindUsages)
nmap gi <Action>(GotoImplementation)
nmap gd <Action>(GotoDeclaration)
nmap gp <Action>(GotoSuperMethod)
nmap gy <Action>(GotoTypeDeclaration)

"" Window mode
nmap <c-w>v <Action>(SplitVertically)
nmap <c-w>s <Action>(SplitHorizontally)
nmap <c-w>W <Action>(MoveEditorToOppositeTabGroup)
nmap <c-w>w <Action>(NextWindow)
nmap <c-w>q <Action>(CloseAllEditors)

"" Unimpaired
nmap ]] <Action>(GotoNextError)
nmap [[ <Action>(GotoPreviousError)
nmap ]æ <Action>(GotoNextError)
nmap [ø <Action>(GotoPreviousError)
nmap ]d <Action>(GotoNextError)
nmap [d <Action>(GotoPreviousError)
nmap ]g <Action>(VcsShowNextChangeMarker)
nmap [g <Action>(VcsShowPrevChangeMarker)
nmap ]m <Action>(MethodDown)
nmap [m <Action>(MethodUp)

""" Running and Debugging
nmap <leader>,r <Action>(ContextRun)
nmap <leader>,c <Action>(RunClass)
nmap <leader>,f <Action>(ChooseRunConfiguration)
nmap <leader>,t <Action>(ActivateRunToolWindow)
nmap <leader>,u <Action>(Rerun)
nmap <leader>,f <Action>(RerunFailedTests)
nmap <leader>,b <Action>(ToggleLineBreakpoint)
nmap <leader>,d <Action>(ContextDebug)
nmap <leader>,n <Action>(ActivateDebugToolWindow)
nmap <leader>,p <Action>(XDebugger.AttachToProcess
