#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Nextcloud
Exec=flatpak 'run' '--command=/app/bin/chromium' 'org.chromium.Chromium' '--profile-directory=Default' '--app-id=lbbccplibjajfcaklcnnmefopbehamhn'
Icon=/home/hakon/.local/share/icons/hicolor/512x512/apps/chrome-lbbccplibjajfcaklcnnmefopbehamhn-Default.png
StartupWMClass=chrome-lbbccplibjajfcaklcnnmefopbehamhn-Default
X-Flatpak-Part-Of=org.chromium.Chromium
TryExec=/var/lib/flatpak/exports/bin/org.chromium.Chromium
