#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Proton Drive
Exec=flatpak 'run' '--command=/app/bin/chromium' 'org.chromium.Chromium' '--profile-directory=Default' '--app-id=fnnddiokljlbkmeppnclajginnfbffgb'
Icon=/home/hakon/.local/share/icons/hicolor/256x256/apps/chrome-fnnddiokljlbkmeppnclajginnfbffgb-Default.png
StartupWMClass=chrome-fnnddiokljlbkmeppnclajginnfbffgb-Default
X-Flatpak-Part-Of=org.chromium.Chromium
TryExec=/var/lib/flatpak/exports/bin/org.chromium.Chromium
